BasicFrameWork.Web/Service References/ESPService/ESPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddEmailSending">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailSending" type="tns:EmailSending" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EmailSending">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProjectID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAdd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailSendContent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAnnex" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Creator" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSend" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="SendStatus" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Remark" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ToCC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnnexName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateTime1" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddEmailSendingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddEmailSendingResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddEmailSendingSoapIn">
    <wsdl:part name="parameters" element="tns:AddEmailSending" />
  </wsdl:message>
  <wsdl:message name="AddEmailSendingSoapOut">
    <wsdl:part name="parameters" element="tns:AddEmailSendingResponse" />
  </wsdl:message>
  <wsdl:portType name="ESPServiceSoap">
    <wsdl:operation name="AddEmailSending">
      <wsdl:input message="tns:AddEmailSendingSoapIn" />
      <wsdl:output message="tns:AddEmailSendingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ESPServiceSoap" type="tns:ESPServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddEmailSending">
      <soap:operation soapAction="http://tempuri.org/AddEmailSending" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ESPServiceSoap12" type="tns:ESPServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddEmailSending">
      <soap12:operation soapAction="http://tempuri.org/AddEmailSending" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ESPService">
    <wsdl:port name="ESPServiceSoap" binding="tns:ESPServiceSoap">
      <soap:address location="http://192.168.18.248:8085/ESPService.asmx" />
    </wsdl:port>
    <wsdl:port name="ESPServiceSoap12" binding="tns:ESPServiceSoap12">
      <soap12:address location="http://192.168.18.248:8085/ESPService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>